.sidebarOptions{
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition:200ms color ease-in;
}
.sidebarOptions:hover{
    color: white;
}
.sidebarOptions__Icons{
    padding-right: 10px;
    padding-left: 10px;
}
.sidebarOptions > p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px; 
}